@{
    Layout = "~/Areas/Admin/Views/shared/_Admin_Layout.cshtml";
}
@model CarRentalServies.Areas.Admin.Models.CarTypeModel

<div class="pagetitle">
    <h1>Car Type Add/Edit Page</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Car Type</li>
            <li class="breadcrumb-item active">Add</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Car type Add/Edit Page</h5>

        <!-- No Labels Form -->
        <form class="row g-3" method="post" asp-controller="Car" asp-action="CarTypeSave" asp-area="Admin">
            @Html.HiddenFor(x => x.CarTypeID)

            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="CarTypeName" asp-for="CarTypeName">
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="SeatNumber" asp-for="SeatNumber">
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
        </form><!-- End No Labels Form -->

    </div>

</div>