<div class="card">
    <div class="car-dbody">
        <h4 class="card-title">Choose Date</h4>
        <form class="row g-3" method="post" asp-controller="User" asp-action="CarByCityIDFromDateToDate" asp-area="User" >
            <div class="col-md-4">
                <label for="birthdaytime">From (date and time):</label>
                <input type="datetime-local" id="date_picker" name="FromDate" min="@DateTime.Now.ToString("yyyy-MM-ddThh:mm")">
                @*<input type="text" class="form-control" placeholder="Car Name" asp-for="@filterModel.CarName">*@
            </div>

            <div class="col-md-4">
                <label for="birthdaytime">To (date and time):</label>
                <input type="datetime-local" id="date_picker" name="ToDate" min="@DateTime.Now.ToString("yyyy-MM-ddThh:mm")">
                @*<input type="text" class="form-control" placeholder="Car Name" asp-for="@filterModel.CarName">*@
            </div>

            <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
        </form><!-- End No Labels Form -->
    </div>
</div>