
@{

    Layout = "~/Views/Shared/Index_Layout.cshtml";

}
@using CarRentalServies.Areas.User.Models
@model CityDropDownModel

<div class="card"> 
    <img src="~/img/vistara_banner.jpg" style="height:500px">
</div>

<div class="card" style="margin-top:-50px; padding-bottom:100px">
    <div class="card-body">
        <h5 class="card-title" style="text-align:center">Please Select A Loaction</h5>

        <!-- No Labels Form -->
        <form class="row g-3" method="post" asp-controller="User" asp-action="GetCarPage" asp-route-CityID="CityID" asp-area="User">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <select class="form-select" asp-for="CityID" asp-items="@(new SelectList(ViewBag.CityList,"CityID","CityName"))">
                    <option>Select City</option>
                </select>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4" style="padding-left:210px;">
                <button type="submit" class="btn btn-primary" >Submit</button>
            </div>
            <div class="col-md-4"></div>
        </form><!-- End No Labels Form -->

        <h5></h5>
    </div>

</div>

